@import url('https://fonts.googleapis.com/css2?family=Sevillana&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Sevillana', cursive;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

.container-principal {
    display: flex;
}

#fundo {
    height: 100vh;
}

.cartao {
    width: 447px;
    height: 245px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.cartao-frente {
    position: absolute;
    top: 20%;
    left: 18%;
}

.cartao-verso {
    position: absolute;
    top: 50%;
    left: 22%;
}

.cartao-frente .cartao-logo{
    position: absolute;
    top: 10%;
    left: 5%;
}

.cartao-frente .cartao-numero {
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
    letter-spacing: 2px;
    font-size: 28px;
}

.cartao-frente .cartao-nome {
    position: absolute;
    bottom: 15%;
    left: 5%;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.cartao-frente .cartao-data-exp {
    position: absolute;
    bottom: 15%;
    right: 17.5%;
    color: white;
    letter-spacing: 2px;
}

.cartao-verso .cartao-cvc {
    position: absolute;
    top: 43%;
    right: 15%;
    color: white;
}

.formulario {
    align-self: center;
    margin-left: 27vw;
    width: 500px;
    display: block;
}

.formulario input {
    border: 1px solid hsl(270, 3%, 87%);
    width: 100%;
    height: 1.1rem;
    padding: 13px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.formulario p {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.formulario .data-cvc {
    display: flex;
}

.formulario .data-cvc > div {
    width: 50%;
}

.formulario .exp-date-input {
    display: flex;
}
.formulario .entradas-data-exp input{
    width: 30%;
}

.erro-nome,
.erro-numero,
.erro-data-exp,
.erro-cvc,
.erro-geral {
    font-size: 10px;
    color: hsl(0, 100%, 66%);
    display: none;
}

.botao {
    width: 100%;
    height: 2.6rem;
    border: none;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 10px;
}

.botao:active {
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
}

.mensagem-sucesso {
    align-self: center;
    margin-left: 28vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 400px;
    display: none;
}

.mensagem-sucesso h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
}

.mensagem-sucesso p {
    color: hsl(279, 6%, 55%);
}
